*{
    font-family: 'Roboto Mono', monospace;
    text-decoration:none;
  }

#overview{
    width:85%;
}

.left-menu{
    width:20%;
    height:100%;
    position:absolute;
    padding:2%;
    background-color:#209cee;
    float:left;
}
.left-menu p,
.left-menu p a{
    color:white;
    font-size:20px;
}
.menu-list li a{
    color:white;
    font-size:17px;
}
.project-overview{
    float:right;
    width:70%;
    padding:2%;
    margin-top:10%;
    height:500px;
}
.columns{
    height:53%;
}
.column{
    margin:1%;
    color:white;
    border-radius:1%;
}
.column a{
    color:white;
}
.column a:hover,
.left-menu p a:hover{
    color:white;
    opacity:0.7;
}
.project-title{
    font-size:1.3em;
}
.description{
    font-size:1.2em;
}