*{
  font-family: 'Roboto Mono', monospace;
  text-decoration:none;
}
#body{
  width:55%;
  margin:auto;
}
.navbar-item:hover{
  opacity:0.5;
}
.hero{
  background-color:#2C88BE;
  float:left;
}
.hero-body ul{
  text-align:center;
}
.hero-body ul li{
  display: inline-block;
  font-size:20px;
}
.hero h1,
.hero h2,
.hero p,
.hero div a{
  color:white;
}
.hero h1{
  font-weight:400;
  letter-spacing:-1px;
  padding:1%;
  text-align:center;
}
.hero h2,
.hero p{
  font-weight:400;
  text-align:center;
  padding-left:10%;
  padding-right:10%;
}
.hero p{
  letter-spacing:2.5px;
}
.left-proof,
.middle-proof,
.right-proof{
  width:20%;
  float:left;
}
.left-proof{
  background-color:lightblue;
}
.middle-proof{
  background-color:lightgrey;
}
.right-proof{
  background-color:grey;
}
.purpose-passion-section p{
  margin-left:15%;
  margin-right:15%;
  margin-bottom:5%;
  font-weight:300;
  font-size:16px;
}
.skills-and-path-section{
  float:left;
  padding:2%;
  background-color:#FDCA8C;
  padding-bottom:7%;
  color:white;
}
.tech-skills-section{
  width:100%;
  float:left;
  color:white;
}
.technologies{
  width:100%;
  margin:auto;
}
.tech-list{
  display:none;
}
.tech-icons{
  height:100px;
  width:100px;
  margin-left:25px;
}
.tech-icons:hover{
  opacity:0.3;
}
.tech-skills-section h3,
.right-path-section h3,
.volunteering h3{
  text-align:center;
  font-weight:400;
  font-size:30px;
  padding:3%;
  color:#0077c2;
}
.right-path-section p,
.right-path-section button{
  text-align:center;
  list-style:none;
}
.right-path-section p,
.volunteering p{
  margin-left:10%;
  margin-right:10%;
  font-weight:300;
  font-size:18px;
  margin-bottom:4%;
}
.right-path-section button{
  background-color:transparent;
  border:solid 1px black;
  color:#9A5844;
  height:75px;
  font-size:20px;
  display:block;
  margin:auto;
}
.right-path-section button a{
  color:#01579b;
}
.right-path-section button:hover{
  opacity:0.5;
}
.right-path-section,
.volunteering{
  width:100%;
  float:left;
  color:black;
}
.purpose-passion-section{
  padding:2%;
  clear:both;
  color:#01579b;
}
.purpose-passion-section h2{
  color:#0077c2;
}
.purpose-passion-section p{
  font-size:20px;
  color:black;
}
.purpose-passion-section h2,
.facts-about-me h2,
.tech-articles-section h2,
.youtube-section h2{
  font-size:30px;
  text-align:center;
  font-weight:400;
  padding-top:3%;
}
.tech-articles-section,
.youtube-section{
  padding-top:5%;
  color:#0077c2;
  clear:both;
  width:100%;
}
.facts-about-me{
  background-color:#E94C2C;
  color:white;
  clear:both;
}
.facts-about-me p{
  padding-left:10%;
  padding-right:10%;
  padding-bottom:7%;
  font-weight:300;
  font-size:20px;
}
.facts-about-me h2{
  padding-top:3%;
}
footer{
  background-color:#53C240;
  clear:both;
}
.top-footer{
  text-align:center;
}
.reach-me{
  text-align:center;
  width:100%;
  clear:both;
  padding:2%;
  margin-top:5%;
}
.reach-me span{
  color:white;
  font-size:30px;
}
.fa:hover{
  opacity:0.5;
}
.social-media-connect ul li,
.social-media-connect ul li a{
  color:white;
  padding:7px;
}
.social-media-connect ul li{
  list-style:none;
  display:inline-block;
  font-size:50px;
}
.footer-message{
  clear:both;
  border-top:solid 1px white;
  text-align:center;
  padding:2%;
  color:white;
  height:60px;
  word-spacing:3px;
  margin-left:5%;
  margin-right:5%;
}
.footer-message span{
  text-align:center;
}
@media only screen and (max-width: 600px) {
  .hero-body ul li a{
    font-size:14px;
  }
  .title{
    font-size:12px;
  }
  .tech-icons,
  .bgc-icon{
    display:none;
  }
  .tech-list{
    display: inline;
    color:black;
    text-align:center;
  }
  .purpose-passion-section p,
  .right-path-section p,
  .facts-about-me p,
  .volunteering p{
    font-size:14px;
  }
  #body{
    width:100%;
  }
  .reach-me span{
    font-size:18px;
  }
  .social-media-connect ul li a{
    font-size:25px;
  }
  .right-path-section button a{
    font-size:14px;
  }
}
@media only screen and (max-width:800px){
  #body{
    width:90%;
  }
}
@media only screen and (max-width:900px){
  #body{
    width:80%;
  }
}




