*{
  font-family: 'Roboto Mono', monospace;
  text-decoration:none;
}
#body{
  width:75%;
  margin:auto;
}
.hero{
  background-color:#5e3f68;
  margin-bottom:5%;
}
.hero-body ul{
  text-align:center;
}
.hero-body ul li{
  display: inline-block;
  font-size:20px;
}
.hero-body ul li a:hover{
  color:#3f2a43;
}
.hero h1,
.hero h2,
.hero div a{
  color:white;
}
.hero h1{
  font-weight:400;
  letter-spacing:-1px;
  padding:1%;
  text-align:center;
}
.hero h2{
  font-weight:400;
  text-align:center;
  padding-left:10%;
  padding-right:10%;
}
.profile-pic{
  max-width:300px;
  float:left;
  margin-right:4%;
}
.bio-section h3{
  font-weight:400;
  font-size:30px;
  color:#3f2a43;
  margin-bottom:1%;
}
.bio-section p{
  font-weight:300;
  font-size:0.9rem;
  color:black;
  margin-bottom:1%;
}

.tech-articles-section h2,
.youtube-section h2{
  font-size:30px;
  text-align:center;
  font-weight:400;
  padding-top:3%;
}
.tech-articles-section,
.youtube-section{
  padding-top:5%;
  clear:both;
  width:100%;
}
.tech-articles-section a,
.youtube-section a{
  color:#3f2a43;
}
footer{
  background-color:#855c7b;
  clear:both;
}
.top-footer{
  text-align:center;
}
.reach-me{
  text-align:center;
  width:100%;
  clear:both;
  padding:2%;
  margin-top:5%;
}
.reach-me span{
  color:white;
  font-size:30px;
}
.fa:hover{
  opacity:0.5;
}
.social-media-connect ul li,
.social-media-connect ul li a{
  color:white;
  padding:7px;
}
.social-media-connect ul li{
  list-style:none;
  display:inline-block;
  font-size:50px;
}
.footer-message{
  clear:both;
  border-top:solid 1px white;
  text-align:center;
  padding:2%;
  color:white;
  height:60px;
  word-spacing:3px;
  margin-left:5%;
  margin-right:5%;
}
.footer-message span{
  text-align:center;
}
@media only screen and (max-width: 600px) {
  .hero-body ul li a{
    font-size:14px;
  }
  .title{
    font-size:12px;
  }
  .bio-section p{
    font-size:14px;
  }
  #body{
    width:100%;
  }
  .reach-me span{
    font-size:18px;
  }
  .social-media-connect ul li a{
    font-size:25px;
  }

  #mc_embed_signup {
    background:#fff;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width:100%;
  }
}
@media only screen and (max-width:800px){
  #body{
    width:90%;
  }
}
@media only screen and (max-width:900px){
  #body{
    width:80%;
  }
}




